%h1 Questions

%p Listing #{length(@questions)} questions.

%table.table.table-striped
  %tr
    %th #
    %th Text
    %th
      .js-tooltip{title: "# completed / # total expected"} # interviews
    %th
      .js-tooltip{title: "Is voting enabled for this question? (there should only be 1 votable question)"} Vote?
    %th
  = @questions |> Enum.map(fn(question) ->
    %tr
      %td= question.position
      %td= question.text
      %td #{ct_interviews_complete(question)} / #{ct_interviews_total(question)}
      %th= Zb.AdminHelpers.true_or_false_indicator(question.eligible_for_voting)
      %td=# PENDING: link "List interviews", to: admin_interview_path(@conn, :index, filter: "TODO")
  - end)
