%h1 Scheduled Tasks

%h3= link "Filter", to: "#", class: "js-toggle", "data-target": ".filter-scheduled-tasks"
.filter-scheduled-tasks.well.js-hidden
  %p TODO
  -# TODO: Allow filtering by status (not yet due, sent, skipped, etc.)

%p Listing #{length(@scheduled_tasks)} scheduled tasks.

%table.table.table-striped
  %tr
    %th User
    %th Task
    %th Due date
    %th Status
  = @scheduled_tasks |> Enum.map(fn(task) ->
    %tr
      %td= link task.user.full_name, to: admin_user_path(@conn, :show, task.user), class: "link-to-user"
      %td= describe_command(task)
      %td= task.due_on_date
      %td= describe_status(task)
  - end)
