%h1 Interviews

%h3= link "Filter", to: "#", class: "js-toggle", "data-target": ".filter-interviews"
.filter-interviews.well.js-hidden
  %p TODO
  -# TODO: Allow filtering by: user id, question, status (incomplete/complete), tag presence / absence, and presence of votes by a specific user id.
  -# I'm picturing a filter module that defines a function for each available filter. When you submit the filter form, the function matching each non-blank param's name is invoked with that param's value.

%p Listing #{length(@interviews)} interviews.

%table.table.table-striped
  %tr
    %th ID
    %th Interviewee
    %th Question
    %th Status
    %th # votes
    %th
      .js-tooltip{title: "Average vote_agreement value"} Agreement
    %th
      .js-tooltip{title: "Average vote_influenced value"} Influenced
    %th Top tags
    %th
  = @interviews |> Enum.map(fn(interview) ->
    %tr
      %td= interview.id
      %td= link interview.user.full_name, to: admin_user_path(@conn, :show, interview.user)
      %td= interview.question.position
      %td= describe_status(interview)
      %td= ct_votes(interview)
      %td= avg_vote_agreement(interview)
      %td= avg_vote_influenced(interview)
      %td= top_tags(interview)
      %td= link "Details", to: admin_interview_path(@conn, :show, interview)
  - end)
