%h1 Details on interview ##{@interview.id}

%h3 Basic info
%table.basic-info.table
  %tr
    %th ID
    %td= @interview.id
  %tr
    %th Interviewee
    %td= link @interview.user.full_name, to: admin_user_path(@conn, :show, @interview.user)
  %tr
    %th Question
    %td ##{@interview.question.position}: #{@interview.question.text}
  %tr
    %th Status
    %td= describe_status(@interview)
  %tr
    %th # votes
    %td= ct_votes(@interview)
  %tr
    %th
      .js-tooltip{title: "Average vote_agreement value"} Agreement
    %td= avg_vote_agreement(@interview)
  %tr
    %th
      .js-tooltip{title: "Average vote_influenced value"} Influenced
    %td= avg_vote_influenced(@interview)
  %tr
    %th Top tags
    %td= top_tags(@interview)

%h3.text-center The video
.play-video
  %video.play-video-container{src: "#{Zb.Recording.s3_url(@interview)}", style: "display: block; width: 640px; height: 480px; background-color: #222; margin: 10px auto 10px auto;", controls: ""}

%h3 Ratings
%table.votes-list.table.table-striped
  %tr
    %th Rater
    %th Submitted at
    %th Agreement
    %th Influenced
    %th Tags
  = @votes |> Enum.map(fn(vote) ->
    %tr
      %td= link vote.user.full_name, to: admin_user_path(@conn, :show, vote.user)
      %td= vote.inserted_at
      %td= describe_vote_value(vote.vote_agreement)
      %td= describe_vote_value(vote.vote_influenced)
      %td= describe_vote_tags(vote)
  - end)
