.centered-600
  = if @next_task && Zb.TaskComputer.due?(@next_task) do
    = case Zb.TaskComputer.task_type(@next_task) do
      = :do_interview ->
        - interview = Zb.TaskComputer.interview_for(@next_task)
        %h1 Next step: Question #{interview.question.position}
        %p Thank you for taking the time to do that interview! Now it's time to respond to question ##{interview.question.position}. Click the button below to continue.
        .text-center= link "Question #{interview.question.position}", to: interview_path(@conn, :edit, interview), class: "btn btn-success"
      = :vote ->
        %h1 Next step: Rate responses
        %p Thank you for taking the time to do that interview! Now it's time to watch and categorize others' responses. Click the button below to continue.
        .text-center= link "Rate responses", to: vote_path(@conn, :select_random), class: "btn btn-success"
    - end
  = else
    %h1 You're done!
    %p Thank you for taking the time to do that interview! We've received your response; that's all we needed from you today.
    = if @next_task do
      -# I have another task scheduled, but it's not yet due.
      = case Zb.TaskComputer.task_type(@next_task) do
        = :do_interview ->
          %p If you have the time, you may continue to the next question now by clicking the button below. If you are out of time today, we'll email you a reminder on #{@next_task.due_on_date}.
          - interview = Zb.TaskComputer.interview_for(@next_task)
          .text-center= link "Question #{interview.question.position}", to: interview_path(@conn, :edit, interview), class: "btn btn-success"
        = :vote ->
          -# TODO: Only show this text & link if interviews are available to vote on
          %p If you have the time, you may continue to the next phase now by clicking the <strong>Rate Responses</strong> button below. If you are out of time today, we'll email you a reminder on #{@next_task.due_on_date}.
          .text-center= link "Rate responses", to: vote_path(@conn, :select_random), class: "btn btn-success"
      - end
    - end
  - end
