%h1 Tags

%p Listing #{length(@tags)} tags.

%table.table.table-striped
  %tr
    %th Text
    %th
      .js-tooltip{title: "# of Vote records that selected this tag"} Count
    %th Visible?
    %th
  = @tags |> Enum.map(fn(tag) ->
    %tr
      %td= tag.text
      %td= ct_uses(tag)
      %th= Zb.AdminHelpers.true_or_false_indicator(tag.recommended)
      %td=# PENDING: link "List interviews", to: admin_interview_path(@conn, :index, filter: "TODO")
  - end)
