.centered-800

  %h1 Online interview: Life in northern Netherlands

  %p <strong>Thank you thank you</strong> for taking the time to share your experience! I hope it's a rewarding experience. And we'll do our best to enable your voice to inspire change on issues that matter to you.

  .card
    .card-body
      %p.strong Instructions

      %ol
        %li <span class="text-danger">Requirements:</span> Chrome or Firefox web browser, and a webcam.
        %li Read the question below and consider what you'd like to say.
        %li Click the <strong>Start recording</strong> button to start recording video. You'll see your live video in the box below. Once you start, you'll have up to 5 minutes to share your experiences.
        %li When you're done, click <strong>Stop recording</strong> to stop. Your recording will be played back for you. If you don't like it, you can re-record it.
        %li A form will appear below the video. Fill in the questions, then click <strong>Submit this interview</strong>.

      %div If you have any questions or problems using this page, please click here to tell us so we can fix it. (<strong>TODO:</strong> link to a Google form)

  .gap-20

  .interview-prompt{style: "padding-top: 10px; padding-bottom: 10px;"}
    .text-muted.text-center Please share your thoughts and experiences regarding this question:
    %h4.text-success.text-center
      How much wood could a woodchuck chuck?

  .js-incompatible-browser-alert.alert.alert-danger.js-hidden
    Sorry, online recording requires Chrome or Firefox web browser. Please load this page in Chrome or Firefox and try again.

  .js-webcam-recording-container{style: "width: 640px; height: 480px; margin: 0 auto 0 auto; position: relative;"}
    -# The video preview box will be bright red until the stream starts successfully.
    %video.js-recording-preview-video{controls: "", autoplay: "", style: "width: 100%; background-color: #ff0000;"}
    .js-recording-controls{style: "position: absolute; top: 10px; left: 10px;"}
      = link icon_and_text("play", "Start recording"), to: "#", class: "js-start-recording btn btn-success"
      = link icon_and_text("square", "Stop recording"), to: "#", class: "js-stop-recording js-hidden btn btn-danger"
      = link icon_and_text("refresh", "Re-record"), to: "#", class: "js-restart-recording js-hidden btn btn-warning"
      %span.js-time-remaining.js-hidden{style: "padding: 5px; color: #fff; background-color: #000; opacity: 0.5;"}

  -# for rendering & capturing the thumbnail
  %canvas.js-thumbnail-canvas.js-hidden

  .gap-20

  .js-interview-form-container.js-hidden
    - form_for @changeset, collect_webcam_recording_path(@conn, :create), fn(f) ->
      %p Your video is done! We have a couple quick questions, then click the button below to complete the interview.

      .form-group
        = label f, :source_name, "If you'd like your name to be shown next to your video, please enter your name here. (optional)"
        = text_input f, :source_name, class: "form-control", placeholder: "Your name"

      %p <strong>Legal note:</strong> By recording your interview and submitting this form, you're giving <span class="text-success">Reassembling the Line</span> permission to share your interview (both the whole thing and selected segments), as well as your name if you provide it, with the public.

      = hidden_input f, :thumbnail_filename, value: @thumbnail_filename
      = hidden_input f, :recording_filename, value: @recording_filename
      = link "Submit this interview", to: "#", class: "js-upload-and-submit-btn btn btn-primary"

      = submit "SUBMIT_INTERVIEW_BUTTON", class: "js-submit-form-btn js-hidden", style: "display: none;"

  .js-upload-data-container{data-thumbnail-presigned-s3-url: @thumbnail_presigned_s3_url, data-recording-presigned-s3-url: @recording_presigned_s3_url}

  .js-upload-progress-container.js-hidden
    %p <strong>We're saving your recording.</strong> Do not close or refresh the page until the upload is complete.
    .progress
      .progress-bar.progress-bar-striped.active{role: "progressbar" style: "width: 0%;"}

  %div{style: "height: 100px;"}
