
%h1 Online interview: Life in northern Netherlands

.row
  .col-sm-8
    %div
      Thank you for taking the time to share your experience! I hope you find it rewarding. And we'll do our best to enable your voice to inspire change on issues that matter to you.

    .pb-4

  .col-sm-4
    %div
      %p.mb-1= link raw("<i class=\"ion-logo-youtube\"></i>&nbsp; How to use this page"), to: "https://www.youtube.com/watch?v=qc8IFlTTtKc", target: "_blank", class: "text-primary"
      %p.mb-1= link raw("<i class=\"ion-logo-youtube\"></i>&nbsp; Tips on making your video look good"), to: "https://www.youtube.com/watch?v=rQwanxQmFnc&feature=youtu.be", target: "_blank", class: "text-primary"
      %p.mb-0= link icon_and_text("alert", "Report a technical problem"), to: "https://docs.google.com/forms/d/e/1FAIpQLSfssoCcvKgVx6Aj9RtdF16lfKVJiFHpy0G9zDXuZx1Wn5fUAw/viewform?usp=sf_link", target: "_blank", class: "text-danger"

%h4 Our questions for you:

.row

  .col-sm-8
    %ul{style: "margin-bottom: 0; font-size: 1.25em; color: #1c7931;"}
      %li <strong>Who are you?</strong> What do you love to do?
      %li What <strong>challenges</strong> do you experience in your life here?
      %li What do you need in order to <strong>thrive</strong> here?

  .col-sm-4
    .alert.alert-info
      Read the questions and consider what you'd like to say.

.pb-4

.row

  .col-sm-8

    .js-webcam-recording-container.box-shadow{style: "width: 640px; height: 480px; margin: 0 auto 0 auto; position: relative; border-radius: 10px;overflow: hidden;"}
      -# The video preview box will be bright red until the stream starts successfully.
      %video.js-recording-preview-video{controls: "", autoplay: "", style: "width: 100%; height: 100%;"}
      .js-recording-controls{style: "position: absolute; top: 10px; left: 10px;"}
        %span.js-setting-up-recording.btn.btn-warning.disabled
          Setting up video. Please wait...
        = link icon_and_text("play", "Start recording"), to: "#", class: "js-start-recording btn btn-success js-hidden"
        = link icon_and_text("square", "Stop recording"), to: "#", class: "js-stop-recording btn btn-danger js-hidden"
        = link icon_and_text("refresh", "Start over"), to: "#", class: "js-restart-recording btn btn-warning js-hidden"
        %span.js-time-remaining.js-hidden{style: "padding: 5px; color: #fff; background-color: #000; opacity: 0.5; border-radius: 5px;"}

    -# for rendering & capturing the thumbnail
    %canvas.js-thumbnail-canvas.js-hidden

    .js-incompatible-browser-alert.alert.alert-danger.js-hidden
      Sorry, online recording requires Chrome or Firefox web browser. Please load this page in Chrome or Firefox and try again.

    .js-init-failed-alert.alert.alert-danger.js-hidden
      We were unable to access your webcam for recording. Please check your browser's settings to allow this page to use your webcam and microphone.

  .col-sm-4
    .js-recording-instructions-part-1.alert.alert-info
      %p.mb-2 Make sure you can see your face in the preview window. When you're ready, click <strong>Start recording</strong>.
      %ul.m-0{style: "padding-left: 20px;"}
        %li If you're not confident speaking in English, feel free to speak in Dutch.
        %li You'll have <span class="text-warning">up to 5 minutes</span> to speak.
        %li Click <strong>Stop recording</strong> when you're done.

    .js-recording-instructions-part-2.alert.alert-info.js-hidden
      %p Your recording is done! Now you can watch it, or start over if you'd like to try again.

      %p.mb-0 When you're happy, <strong>scroll down</strong> to answer a couple more questions and then submit your interview.

.pb-4

.js-interview-form-container.js-hidden

  %h4 Submit your interview

  .row

    .col-sm-8

      - form_for @changeset, Routes.collect_webcam_recording_path(@conn, :create), fn(f) ->

        .form-group
          %div
            %strong Name
            %span.em.text-muted (optional)
          = label f, :source_name, raw("If you'd like your name to be shown next to your video, please write it here.")
          = text_input f, :source_name, class: "form-control", placeholder: "Your name"

        .form-group
          %div
            %strong Permission
            %span.text-danger (required)
          %label
            = radio_button f, :permission, "public"
            %span.pl-2 I give permission to share this interview with <strong>everyone</strong>.
          %label
            = radio_button f, :permission, "researchers"
            %span.pl-2 I give permission to share this interview with <strong>researchers on this project, but no one else</strong>.

        = hidden_input f, :thumbnail_filename, value: @thumbnail_filename
        = hidden_input f, :recording_filename, value: @recording_filename
        = link "Submit your interview", to: "#", class: "js-upload-and-submit-btn btn btn-primary"

        = submit "SUBMIT_INTERVIEW_BUTTON", class: "js-submit-form-btn js-hidden", style: "display: none;"

.row
  .col-sm-8

    .js-upload-data-container{data-thumbnail-presigned-s3-url: @thumbnail_presigned_s3_url, data-recording-presigned-s3-url: @recording_presigned_s3_url}

    .js-upload-progress-container.js-hidden
      %p <strong>We're saving your recording.</strong> Do not close or refresh the page until the upload is complete.
      .progress
        .progress-bar.progress-bar-striped.active{role: "progressbar" style: "width: 0%;"}

%div{style: "height: 100px;"}
