%h1 Contact Requests

%p Listing #{length(@contact_requests)} messages.

%table.table.table-striped
  %tr
    %th Sent at
    %th From user
    %th From email
    %th Subject
    %th
  = @contact_requests |> Enum.map(fn(contact) ->
    %tr.contact-request-row
      %td= contact.inserted_at
      %td
        = if contact.user do
          = link contact.user.full_name, to: admin_user_path(@conn, :show, contact.user)
        - end
      %td= contact.email
      %td= contact.subject
      %td= link "Show details", to: admin_contact_request_path(@conn, :show, contact), class: "link-to-request"
  - end)
