%h1 Videos

%p All available videos, sorted by title.

%table.table.table-striped
  %tr
    %th ID
    %th
    %th Title
    %th Source
    %th Status
    %th
    %th Tags
  - Enum.map @videos, fn(video) ->
    %tr
      %td= video.id
      %td
        %div{style: "overflow: hidden; height: 80px;"}
          %img{src: "#{RTL.Videos.thumbnail_url(video)}", style: "height: 100px; margin: -20px;"}
      %td= video.title
      %td= link_to_source(video)
      - if video.coding do
        %td.text-success Coded by #{video.coding.updated_by_user.full_name}
        %td= link "edit", to: admin_coding_path(@conn, :edit, video.coding.id), class: "btn btn-xs btn-default"
        %td= tag_list(video)
      - else
        %td.text-muted Not coded
        %td= link "code", to: admin_coding_path(@conn, :new, video_id: video.id), class: "btn btn-xs btn-success"
        %td

