!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{http-equiv: "X-UA-Compatible" content: "IE=edge"}
    %meta{name: "viewport" content: "width=device-width, initial-scale=1"}
    %meta{name: "description" content: ""}
    %meta{name: "author" content: ""}

    %title RTL

    %link{rel: "stylesheet", href: "#{Routes.static_path(@conn, "/css/app.css")}"}
    %script{src: "#{Routes.static_path(@conn, "/js/app.js")}"}

  %body

    %nav.navbar.navbar-expand-sm.navbar-light.bg-light
      %a.navbar-brand.text-info{href: "/"}
        = icon("barcode")
        RTL
      %button.navbar-toggler{data-toggle: "collapse", data-target: "#navbar-content"}
        %span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
        %ul.navbar-nav

          - if @current_user do

            %li.nav-item
              = link raw("<i class=\"ion-md-eye\"></i>&nbsp; Explore <span class=\"text-danger\">(<i class=\"ion-md-lock\"></i>)</span>"), to: Routes.explore_path(@conn, :index), class: "nav-link"

            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: "#", data-toggle: "dropdown"}
                = icon("settings")
                Admin
                %span.caret
              .dropdown-menu.dropdown-menu-right
                = link icon_and_text("cloud-upload", "Import videos"), to: Routes.collect_hub_path(@conn, :index), class: "dropdown-item"
                = link icon_and_text("pricetags", "Code videos"), to: Routes.admin_video_path(@conn, :index, []), class: "dropdown-item"

            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: "#", data-toggle: "dropdown"}
                = icon("person")
                %span.caret
              .dropdown-menu.dropdown-menu-right
                .dropdown-item.em.small Logged in as #{@current_user.full_name}
                = link icon_and_text("power", "Log out"), to: Routes.auth_path(@conn, :logout), class: "dropdown-item text-danger test-logout-link"

          - else

            %li.nav-item
              = link "Log in", to: Routes.auth_path(@conn, :login), class: "nav-link"

    %main
      .container-fluid

        - if get_flash(@conn, :info) do
          %p.alert.alert-info{role: "alert"}= get_flash(@conn, :info)
        - if get_flash(@conn, :error) do
          %p.alert.alert-danger{role: "alert"}= get_flash(@conn, :error)

        = render @view_module, @view_template, assigns

    .footer
      .text-center.small
        %span.text-muted
        Built by Whitney Hunter-Thomson and #{link "Topher Hunt", to: "http://topherhunt.com", target: "_blank"}
        &nbsp; &nbsp;
        = link "Open source on Github", to: "https://github.com/topherhunt/reassembling-the-line", target: "_blank"
        &nbsp; &nbsp;
        = link "Contact us", to: "https://docs.google.com/forms/d/e/1FAIpQLScFmkgOIWIN3QKIT1TI6e2A440ixtfMsAQ04kVoh85TLDmbXw/viewform?usp=sf_link", target: "_blank"
