.centered-800
  = unless @changeset.action do
    = render "_progress_message.html", data: voting_progress_data(@current_user)
  - end

  = if @changeset.action do
    .js-validation-errors.alert.alert-danger
      Your choices weren't saved. See error messages below.
  - end

  %h1 Categorize a Submission

  %p Now it's time to hear others' responses and categorize them! A <strong>randomly selected</strong> response is shown below; watch it by clicking the play button. Once the video has ended, respond to each question about the video below.

  %p This video was in response to this question: <em>#{@interview.question.text}</em>

  %hr

  %div
    -# We can use JWplayer or Video.js if we need total compatibility.
    -# For now we require Evergreen with HTML5 support.
    %video.play-video-container{src: "#{Zb.Recording.s3_url(@interview)}", style: "display: block; width: 640px; height: 480px; background-color: #222; margin: 10px auto 10px auto;", controls: ""}

  .js-ratings-container.js-hidden
    = form_for @changeset, interview_vote_path(@conn, :create, @interview), fn(f) ->

      %hr

      %p Now that you've watched the video, please answer the questions below. <strong>All answers will remain confidential.</strong> The only data that will be shared with the Board, the Marketing Committee, and the faculty will be high level results that indicate patterns.

      %hr

      %h4 1. Indicate how much you agree with the following statements:

      %p.strong.em
        I resonate with the response in this video.
        = error_tag f, :vote_agreement
      %ul.vote-agreement-options.likert-list
        %li
          %label
            = radio_button f, :vote_agreement, 1
            Strongly disagree
        %li
          %label
            = radio_button f, :vote_agreement, 2
            Disagree
        %li
          %label
            = radio_button f, :vote_agreement, 3
            Agree
        %li
          %label
            = radio_button f, :vote_agreement, 4
            Strongly agree

      %p.strong.em
        Hearing this response made me re-think my own responses.
        = error_tag f, :vote_influenced
      %ul.vote-influenced-options.likert-list
        %li
          %label
            = radio_button f, :vote_influenced, 1
            Strongly disagree
        %li
          %label
            = radio_button f, :vote_influenced, 2
            Disagree
        %li
          %label
            = radio_button f, :vote_influenced, 3
            Agree
        %li
          %label
            = radio_button f, :vote_influenced, 4
            Strongly agree

      %hr

      %h4 2. Select <strong>one or two</strong> categories that best describe this response.
      = error_tag f, :tag_list
      %p.vote-tags-container
        = @recommended_tags |> Enum.map(fn(tag) ->
          %a.btn.btn-sm.btn-info.js-select-tag{href: "#", text: "#{tag.text}"}= tag.text
        - end)
        %span.nowrap
          %a.btn.btn-sm.btn-link.js-add-custom-tag{href: "#"} other
          = text_input f, :custom_tag, placeholder: "Write your own category...", class: "js-custom-tag-input js-hidden form-control", style: "max-width: 200px;"
        = hidden_input f, :tag_list, class: "js-vote-tags"

      %hr

      = submit "Submit ratings", class: "vote-submit-button btn btn-primary"
    - end
